click~=6.7
cryptography==2.6.1
Flask==1.0.2
Flask-MySQLdb==0.2.0
Flask-WTF==0.14.2
html5lib==1.0.1
importlib-metadata==0.0.0
ipywidgets==7.4.2
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
packaging==19.0
passlib==1.7.1
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pep8==1.7.1
requests==2.21.0
tables==3.5.1
urllib3==1.26.5
Werkzeug==0.14.1
wrapt==1.11.1
WTForms==2.2.1
