{% extends 'layout.html' %}

{% block body%}
<h1> About The Movie Island </h1>
<p>  We understand the struggle of looking for movies to watch on the weekend (or anytime really, because everyday could be a movie day if you want it to!).</p>
<p> So, we have picked the best-go-to movies for you and all you have to do is <b>choose a genre</b> and<b> grab some popcorn.</b></p>
<p> We always welcome new movie suggestions from our loyal members, if you aren't one already <b>Register Now!</b></p>
{% endblock %}
